.card{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 30px;
  position: relative;
    margin: 7px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    height: 450px;
    width: 250px;
    cursor: pointer;
    background-color: whitesmoke;
    }

.cardTop{
  margin-top: 30px;
}
   
    
.card-details img{
    height: 150px;
    }

.card-favicon{
  position: absolute;
  width: 32px;
  height: 32px;
  top: 15px;
  right: 20px;
  
  border-radius:  50%;
  border: none; 
  margin: 5px 15px;
  padding: 8px 8px;
  cursor: pointer;
  background-color: rgb(219, 219, 219);
  color: #8c8c8e;
}

.card-favicon.favorite{
    background-color: rgb(223, 117, 84);
    color: white;  
    
  }

  .btnVer{
    position: absolute;
    top: 10px;
  }
