.NavBar{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: green;
    width: 100%;
    height: 100px;
    margin-bottom: 20px;
    padding-bottom: 20px;
        
}

.NavBar h3{
    color: black;
    font-size: 25px;
    
}



.nav-menu{
    display: flex;
    justify-content: space-around;
    font-size: 17px;
    text-decoration: none;
    color: black;
}
